<Files ~ "\.(html|php|jpe?g|gif|png|css|js|pdf)$">
Header add Pragma "no-cache"
Header set Cache-Control no-cache
</Files>

RewriteEngine On
# http://example.com/detail.php?id=1 を
# http://example.com/1.html に見せかける
# RewriteRule ^(.*).html$ detail.php?id=$1 [L]
RewriteRule ^(.*)$ ?id=$1 [L]