<Files ~ "\.(html|php|jpe?g|gif|png|css|js|pdf)$">
Header add Pragma "no-cache"
Header set Cache-Control no-cache
</Files>

RewriteEngine On
# http://example.com/detail.php?id=1 を
# http://example.com/1.html に見せかける
# 静的URLへのアクセスを動的なほうに転送する？
# RewriteRule ^(.*).html$ detail.php?id=$1 [L]
RewriteRule ^(.*)$ ?id=$1

RewriteRule ^url-test.html$ /?id=1

# RewriteRule ^img/(.+) new-img/$1 [R=301,L]
# 「img」ディレクトリ内へのアクセスで、画像ファイルのみを新しい「new-img」ディレクトリに転送します。

# 「http://example.com/sub/img/profile.jpg」のリクエストで、「sub」ディレクトリに .htaccess が配置してあれば、マッチング対象は「img/profile.jpg」となります。
# http://www-creators.com/archives/248#RewriteEngine