@charset "UTF-8";
:root { 
	--monochrome-light: hsl(0, 0%, 85%);
	--monochrome-medium: hsl(0, 0%, 68%); 
	--monochrome-dark: hsl(0, 0%, 50%);
	--main-color: hsl(202, 35%, 50%); /* 6ステップ (202, 35%, 53%) より*/
	--main-color-light: hsl(202, 35%, 70%); 
}

/* ---------------------------------
	ベースグループ */
body {
	font-family: "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	/* font-family: "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif; */ 
	word-break: break-word; /* 行頭に、。が来るのを避ける */
	color: #333; /* 黒の文字色 */
	line-height: 1.6;
	background: hsl(40, 38%, 97%); /* 再生紙色 */
	/* フッターを下部固定 */
	display: flex;
	flex-flow: column; /* 縦の隊列 */
	min-height: 100vh; /* コンテンツが少なくても */
}
main {
	flex: 1; /* メイン領域を上下にめいっぱい広げておいて */
}

.ly_header, .ly_cont {
	/* 余白限界 */
	width: 92.5vw;
	margin: 0 auto;
}

.hp_hidden {
	display: none !important;
}

.hp_highlight {
	background-color: #fffd77 !important;
}

/* リセット */
a {
	/* リンク装飾をリセット */
	text-decoration: none;
	color: inherit;
}
ul li {
	/* 順序なしリストのスタイルをリセット */
	list-style: none;
}
li:last-child {
	/* リストの後続要素との余白をリセット */
	margin-bottom: 0;
}

/* ---------------------------------
	テキスト領域 */
.bl_text {

}

.bl_text + .bl_text {
	/* セクション間余白 */
	margin-top: 1.5em;
}	
.bl_text_header {
	padding-bottom: 0em;
	color: var(--monochrome-dark)
}
.bl_text_footer {
	padding-bottom: 0em;
	color: var(--monochrome-dark)
}

/* マークアップ */	
.bl_text a { 
	/* 下線と文字とを空けるため、擬似的な下線を作る */
	display: inline-block; 
	line-height: 1em; /* 下余白リセット */
	text-decoration: none;
	color: hsl(219, 62%, 50%); /* 薄青、Wikipediaより */
	border-bottom: 1px solid hsl(219, 62%, 70%); /* 細く見せるため薄色に */
	padding-bottom: 1px; /* 下線との距離 */
	text-indent: 0; /* 時々生じる謎のインデントを削除 */
}
.bl_text a:visited { 
	/* 訪問済みリンク */
	color: hsl(271, 35%, 45%); /* 紫、Wikipediaより */
	border-bottom: 1px solid hsl(271, 35%, 65%); 
}

.bl_text p {
	text-align: justify; /* 均等割付で右端もぴったり揃う */
}

.bl_text p + p {
	text-indent: 1em; /* 二段落目以降を字下げ */
	margin-top: 1em; /* 段落間に余白 */
}

.bl_text blockquote {
	/* 上下に1行の余白、左から1文字分インデント */
	margin: 1em 0 1em 1em;
	color: var(--monochrome-dark);
	border-left: 0.2em solid var(--monochrome-light);
	padding-left: 0.8em;
}
.bl_text blockquote p {
	text-indent: 0; /* 引用ブロック中は字下げなし */
}

.bl_text em {
	text-emphasis: dot;
	font-style: normal;
}

.bl_text strong {
	font-weight: bold;
}

.bl_text h1 { 
/* 章・セクション見出し */
	/* 標準余白 */
	margin: 1em 0em 1em; /* セクション間・左右から・後続要素との余白 */
	/* 横棒 */
	border-left: 4px solid var(--monochrome-medium);
	padding-left: 0.35em; /* 横棒と文字の間隔 */
	/* 下線 */
	border-bottom: 1px solid hsl(0, 0%, 75%);
	padding-right: 0.75em;
	font-weight: normal;
	font-size: 110%;
}
.bl_text h1:not(:first-child) {
	/* 2番目以降のみ余白を広げる */
	margin: 3em 0em 1em; 
}

.bl_text h2 {
/* 節ごとの小見出し */
	/* 標準余白 */
	margin: 0.5em 0 0.75em; /* セクション間余白、左右の余白限界からの余白、後続要素との余白 */
	font-weight: normal;
	border-bottom: 1px solid hsl(0, 0%, 75%);
	font-size: 105%;
}

.bl_text hr {
/* 水平線 */
	border: none; /* デフォルトスタイルをリセット */
	border-top: 1px solid var(--monochrome-light);
	width: 50%;
	margin: 1.25em auto;
}

/* 順序なしリスト */
.bl_text ul {
	margin-left: 0;
	padding-left: 0.5em;
}
.bl_text ul li {
	list-style: square inside;
}

/* 順序つきリスト */
.bl_text ol {
	margin-left: 0;
	padding-left: 0.5em;
}
.bl_text ol li {
	list-style: decimal inside;
}

/* 説明リスト */
.bl_text dt {
	float: left;
	text-align: right;
	margin-left: -0.5em; /* 4文字目は画面ギリギリに入れる */
	width: 4em; /* 最大文字数 */
}
.bl_text dd {
	margin-left: 3.5em; /* dtの左余白＋最大文字数 */
	/* "： "にぶら下げ、狭い画面で改行されたとき */
	padding-left: 1.25em;
	text-indent: -1.25em;
}
.bl_text dd:before {
	content: "： ";
}

/*	---------------------------------
	記事一覧リスト */
.bl_posts {
/*	font-size: 90%; */
}

.bl_posts_item {
	display: block;
	padding: 0.75em 0;
	border-bottom: 1px solid var(--monochrome-light);
	/* 小ブロックにして中央揃え */
	margin: 0 auto;
}

.bl_posts_item:first-child {
	padding-top: 0;
/*	border-top: 1px solid var(--monochrome-light); */
}

.bl_posts_header {
}

.bl_posts_date {
	display: inline-flex;
	padding-bottom: 0.25em;
	color: var(--monochrome-dark);
}

.bl_posts_footer {
	padding-top: 0.4em;
	color: var(--monochrome-dark);
}

/* 標準マークアップを局所的に上書き */
.bl_posts_item .bl_text h1 {
	font-weight: normal;
	margin: -0.3em 0 0.2em 0; /* 余白を一括指定で上書きリセット */
	padding: 0;
	border: none; /* 装飾リセット */
	font-size: 100%; /* サイズリセット */
}

.bl_posts_item .bl_text h2 {
	font-weight: normal;
/*	color: hsl(202, 35%, 50%); */
	margin: 0 0 0.25em 0;
	border: none;
	font-size: 100%;
}

.bl_posts_item .bl_text hr {
	border: none;
	margin: 0.75em auto;
}

input[type="text"] {
	display: block;
	width: 50vw;
	max-width: 300px;
	background: hsl(40, 38%, 99%);
	padding: 5px 5px 3px;
	font-size: 16px;
	border: 1px solid var(--monochrome-light);
	margin: 0 auto;
}

input[type="text"]:focus {

}

/* タグリスト */
.bl_tags {
	display: inline-flex; /* 横並び、かつ先立つ要素（日付）に回り込める */
	flex-wrap: wrap;
	list-style: none;
}
.bl_tags li {
	margin-left: 0.5em;
}

/* ---------------------------------
	部品 */
.el_heading1 { 
	/* .bl_text h1を複製し、ブロックの外でも使えるようにする。ただし標準余白は常につける */
	margin: 3em 0em 1em;
	border-left: 4px solid var(--monochrome-medium);
	padding-left: 0.45em;
	border-bottom: 1px solid hsl(0, 0%, 75%);
	padding-right: 0.75em;
	font-weight: normal;
	font-size: 110%;
}
.ly_cont:first-child > .el_heading1 {
	/* 先頭の見出しだけ小さめの後続余白 */
	margin: 1em 0em 1em; 
}

/* テーブル（水平）*/
.bl_horizTable {
	border: 1px solid var(--monochrome-light); /* 表全体を囲む */
	max-width: 560px;
}
.bl_horizTable table {
	width: 100%;
	/* セル列同士の謎の余白リセット */
	border-collapse: collapse;
	border-spacing: 0; 
}
.bl_horizTable th { /* ■□ */
	width: 20%; /* テーブル頭の幅 */
	padding: .3em 0; /* 上下幅 */
	background: hsl(0, 0%, 94%);
	border-bottom: 1px solid var(--monochrome-light);
	font-weight: normal;
}
.bl_horizTable td { /* □■ */
	word-break: keep-all; /* いつもより早めに改行 */
	padding: .3em 0 .3em .75em; 
	border-bottom: 1px solid var(--monochrome-light);
}
.bl_horizTable tr:last-child th, 
.bl_horizTable tr:last-child td {
	border-bottom-width: 0px; /* 最終行の下線を消す */
}

/*---------------------------------
	ヘッダー・フッター */
.ly_header_inner {
	font-family: "Avenir Next", "Segoe UI", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif;
}
.el_logo { 
	font-size: 32px;
	font-weight: normal;
	vertical-align: center;
}
.el_logo_suffix{
	font-size: 16px;
	font-weight: normal;
	color: var(--monochrome-dark);
	vertical-align: baseline; /* 英単語帳：baseline */
}
/* 小コンテナ：メニューリスト */
.bl_nav_inner {
	display: flex;
}
/* ナビメニュー */
.bl_nav a {
	display: block; 
	line-height: 1.2em; /* 実質的には区切り線の高さ */
	text-align: center;
	font-size: 110%;
	color: var(--main-color);
}
.bl_nav li {
	list-style: none;	
	padding: 0 0.7em; /* メニュー同士の間隔 */
}
.bl_nav li + li { /* 2番目以降のメニューリストアイテムに区切り線 */
	border-left: 1px solid var(--main-color-light);
}

/* フッター */
.ly_footer {
	background-color: hsl(0, 0%, 90%);
	margin-top: 3em;
}
.ly_footer_inner {
	padding: 1.25em 0; /* フッターの高さ */
}
.el_footerCopyright {
	font-size: 85%;
	text-align: center;
	color: var(--monochrome-dark)
}
.el_footerCopyright a {
	color: inherit;
}

/* -----------------------------------------
	タブレット以下 */
@media (max-width: 559px) {

	:root {
		font-size: 16px;
	}
/* -- ヘッダー -- */
	.ly_header {
		margin-bottom: 1em;
	}
	.ly_header_inner {
		/* スマホでは中央揃えに */
		text-align: center;
		margin-top: 1em;
	}
	.bl_nav {
		display: inline-block;
		text-align: center;
		padding-top: 0.5em;
	}
	.bl_nav a {
		font-size: 100%;
	}
	
}

/* -----------------------------------------
	タブレット以上 */
@media (min-width: 560px) {

	:root {
		font-size: 18px;
		line-height: 1.7;
	}
	
	/* ヘッダーに本文がめり込まないように。 */
	main {
		padding-top: 2em;
	}

	/* -- ヘッダー -- */
	.ly_header {
	/* 大箱　*/
		background: hsl(40, 38%, 97%); /* 背景色で塗りつぶし */
		height: 4.5em;
		margin: 0 auto;
	}
	.ly_header_inner {
	/* 中コンテナ：ロゴ＋メニュー　*/
		display: flex;	
		justify-content: space-between; /* 二つを両端に分ける */
		align-items: center; /* 二つの高さ位置を揃える */
		padding-top: 0.75em; /* これにて手動で縦方向センタリング */
	}
	.bl_nav_inner {
	/* 小コンテナ：メニューリスト */
		margin-right: 0px;
	}
	.el_logo {
		margin-left: 4px;
	}

} /* @media (min-width: 560px) {... */

/* -----------------------------------------
	PC画面以上 */
@media (min-width: 960px) {
	
	.ly_cont, .ly_header {
	/* 大画面ではテキストを画面いっぱいに表示せず、中央に寄せる */
		max-width: 800px;
		margin: 0 auto;
		line-height: 1.7;
	}

}