@charset "UTF-8";
:root { 
	--monochrome-light: hsl(0, 0%, 85%); /* andante (0,0%,87%) より */
	--monochrome-medium: hsl(0, 0%, 68%); 
	--monochrome-dark: hsl(0, 0%, 45%);
	--first-color: hsl(202, 35%, 50%); /* 6ステップ (202, 35%, 53%) より*/
	--first-color-light: hsl(202, 35%, 70%); 
	--width-large: 900px;
	--margin-text: 0.5em; /* 余白限界を起点とした、その内側の要素の余白 */
}

/* ベースグループ
---------------------------------*/
body {
	font-family: "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif; 
	word-break: break-word; /* 行頭に、。が来るのを避ける */
	color: #333; /* 黒の文字色 */
	line-height: 1.7;
	background: hsl(40, 38%, 97%); /* 再生紙色、andante (40, 38%, 97%) より */
}

.ly_centerWrapper {
	/* 大画面では両端に余白を設け、中央揃えをする */
	max-width: var(--width-large);
	margin: 0 auto; /* 中央揃え */	
	/* 分析用 */
	border-left: 1px dotted var(--monochrome-light);
	border-right: 1px dotted var(--monochrome-light);
}

.ly_cont {
/* コンテンツ領域 */
	/* 限界余白 */
	margin: 0 0.5em;
	/* 分析用 */
	border-left: 1px dashed var(--monochrome-light);
	border-right: 1px dashed var(--monochrome-light);
}

a {
	/* リンク装飾をリセット */
	text-decoration: none;
	color: inherit;
}

/*	草稿
---------------------------------*/
.postlist {
	display: block;
	max-width: 560px;
	margin: 0em auto;
	padding: 1em;
	border: 1px solid var(--monochrome-light);
}
.postlist .post-title {
	font-size: 105%;
	font-weight: bold;
	margin: 0 0 0.25em 0em;
}

.post-info {
	display: inline-block;
	margin-left: 0.5em;
}
.lower {
	padding-top: 0.75em;
}
.upper {
	padding-bottom: 0.25em;
}

#wrap {
 	padding: 0;
 }
/*	ヘッダー
---------------------------------*/
.ly_header {
	font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif;
}
.el_headerLogo { 
	font-size: 175%;
	font-weight: normal;
	vertical-align: center;	
}
/* 小コンテナ：メニューリスト */
nav .container {
	display: flex;
}
/* ナビメニュー */
nav a {
	display: block; 
	line-height: 1.2em; /* 実質的には区切り線の高さ */
	text-align: center;
	font-size: 110%;
	color: var(--first-color);
}
nav li {
	list-style: none;	
	padding: 0 0.7em; /* メニュー同士の間隔 */
}
nav li + li { /* 2番目以降のメニューリストアイテムに区切り線 */
	border-left: 1px solid var(--first-color-light);
}

/*--フッター--*/
.ly_footer {
	background-color: var(--monochrome-light);
}
.ly_footer_inner {
	padding: 20px 1em;
}
.el_footerCopyright {
	font-size: 80%;
}
.el_footerCopyright a {
  color: #333;
}

/* テキストのマークアップ
---------------------------------*/
.text a { 
	/* 下線と文字とを空けるため、擬似的な下線を作る */
	display: inline-block; 
	line-height: 1em; /* 下余白リセット */
	text-decoration: none;
	color: hsl(219, 62%, 50%); /* 薄青、Wikipediaより */
	border-bottom: 1px solid hsl(219, 62%, 70%); /* 細く見せる */
	padding-bottom: 1px; /* 擬似的な下線 */
}
.text a:visited { 
	/* 訪問済みリンク */
	color: hsl(271, 35%, 45%); /* 紫、Wikipediaより */
	border-bottom: 1px solid hsl(271, 35%, 65%); 
}

.text p {
	/* プレーンテキスト */
	margin: 0 0.5em /* 限界余白 */
}
.text p + p {
	text-indent: 1em; /* 二段落目以降を字下げ */
	margin-top: 0.5em; /* 段落間に余白 */
}

.text blockquote {
	/* ブロック引用　*/
	/* 上下に1行の余白、左から1文字分インデント */
	margin: 1em 0 1em 1em; 
	color: var(--monochrome-dark);
	border-left: 0.2em solid var(--monochrome-light);
	padding-left: 0.8em;
}
.text blockquote p {
	text-indent: 0; /* 引用ブロック中は字下げなし */
}
ul li {
	list-style: none;
}
/* 説明リストを簡易的な表にする https://techacademy.jp/magazine/19405 */
dt{
  float: left; /* 改行を解除し、一列に横並びにする */
}
dd{
  margin-left: 80px;
}


/*	エレメント
---------------------------------*/
/*h2相当、大見出し*/
.title { 
	/* 標準余白 */
	margin: 3em 0 1em; /* セクション間余白、左右からの余白、後続要素との余白 */
	/* 横棒 */
	border-left: 4px solid var(--monochrome-medium);
	padding-left: 0.45em; /* 横棒と文字の間隔 */
	/* 下線 */
	/* display:inline-block; */
	border-bottom: 1px solid hsl(0, 0%, 75%);
	padding-right: 0.75em;
	font-weight: normal;
	font-size: 110%;
}
/*h3相当、平行線つき小見出し*/
.subtitle {
	/* 標準余白 */
	margin: 1em 0.5em 0.75em; /* セクション間余白、左右からの余白、後続要素との余白 */
	font-weight: normal;
	border-bottom: 1px solid hsl(0, 0%, 87%);;
	font-size: 105%;
}
.title-side {
	text-align: right;
	margin: 0.7em 1em -2.7em 0; /* ネガティブマージンで擬似的に下に移動、抉れた分を上に補給 */
	color: var(--monochrome-medium);
	font-size: 80%;
}

/* テーブル（水平）*/
.bl_horizTable {
	border: 1px solid var(--monochrome-light); /* 表全体を囲む */
	max-width: 560px;
}
.bl_horizTable table {
	width: 100%;
	/* セル列同士の謎の余白リセット */
	border-collapse: collapse;
	border-spacing: 0; 
}
.bl_horizTable th { /* ■□ */
	width: 20%; /* テーブル頭の幅 */
	padding: .3em 0; /* 上下幅 */
	background: hsl(0, 0%, 94%);
	border-bottom: 1px solid var(--monochrome-light);
	font-weight: normal;
}
.bl_horizTable td { /* □■ */
	word-break: keep-all; /* いつもより早めに改行 */
	padding: .3em 0 .3em .75em; 
	border-bottom: 1px solid var(--monochrome-light);
}
.bl_horizTable tr:last-child th, 
.bl_horizTable tr:last-child td {
	border-bottom-width: 0px; /* 最終行の下線を消す */
}

.hp_textWeak {
	color: var(--monochrome-dark);
	font-size: 95%;
}


/* ----------------------------------------------------
タブレット以上 */
@media (min-width: 560px) {
/* ベースグループ */
	:root {
		font-size: 18px;
	}
	/* ヘッダーに本文がめり込まないように。 */
	main {
		padding-top: 6em; 
	}
	
/* -- ヘッダー：固定帯に -- */
/* 大箱　*/
.ly_header {
	position: fixed; 
	background: inherit; /* 白く塗りつぶし */
	width: 100%;
	height: 4.5em;
}
/* 中コンテナ：ロゴ＋メニュー　*/
.ly_header_inner {
	display: flex;	
	justify-content: space-between; /* 二つを両端に分ける */
	align-items: center;	/* 二つの高さ位置を揃える */
	padding-top: 0.75em; /* これにて手動で縦方向センタリング */
	max-width: var(--width-large);
}
/* 小コンテナ：メニューリスト、右端から離す */
.ly_header .container {
	margin-right: 1em;
}
.el_headerLogo {
	margin-left: 0.5em;
}

}

/* ----------------------------------------------------
タブレット以下 */
@media (max-width: 559px) {
	:root {
		font-size: 16px;
	}

/* -- ヘッダー：中央揃えの隊列にする -- */
.ly_header_inner {
	text-align: center;
	margin-top: 1em;
}
nav {
	display: inline-block;
	text-align: center;
	padding-top: 0.5em;
}
nav a {
	font-size: 100%;
}
.contents {
	padding-top: 1em; 
}
}