@charset "UTF-8";
:root { 
	--monochrome-light: hsl(0, 0%, 85%); /* andante (0,0%,87%) より */
	--monochrome-medium: hsl(0, 0%, 68%); 
	--monochrome-dark: hsl(0, 0%, 45%);
	--first-color: hsl(202, 35%, 50%); /* 6ステップ (202, 35%, 53%) より*/
	--first-color-light: hsl(202, 35%, 70%); 
	--width-large: 900px;
}

/* ベースグループ
---------------------------------*/
body {
	font-family: "Helvetica Neue", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif; 
	word-break: break-word; /* 行頭に、。が来るのを避ける */
	color: #333; /* 黒の文字色 */
	line-height: 1.7;
	background: hsl(40, 38%, 97%); /* 再生紙色、andante (40, 38%, 97%) より */
}

.ly_centerWrapper {
	/* 大画面では両端に余白を設け、中央揃えをする */
	max-width: var(--width-large);
	margin: 0 auto; /* 中央揃え */	
	/* 分析用 */
	border-left: 1px dotted var(--monochrome-light);
	border-right: 1px dotted var(--monochrome-light);
}

.ly_cont {
/* コンテンツ領域 */
	/* 余白限界 */
	margin: 0 0.5em;
	/* 分析用 */
	border-left: 1px dashed var(--monochrome-light);
	border-right: 1px dashed var(--monochrome-light);
}

/* リセット */
a {
	/* リンク装飾をリセット */
	text-decoration: none;
	color: inherit;
}
ul li {
	/* 順序なしリストのスタイルをリセット */
	list-style: none;
}
li:last-child {
	/* リストの後続要素との余白をリセット */
	margin-bottom: 0;
}

/*	ポストリスト
---------------------------------*/
.bl_posts_item {
	display: block;
	padding: 1em 1.5em;
	border-top: 1px solid var(--monochrome-light);
	/* 小ブロックにして中央揃え */
	max-width: 560px;
	margin: 0em auto;
}
.bl_posts_tags {
	display: inline-flex;
	flex-wrap: wrap;	
}
.bl_posts_tags li {
	margin: 0 0.5em;
}
.postlist .post-title {
	font-size: 105%;
	font-weight: bold;
	margin: 0 0 0.25em 0em;
}
.bl_posts_header {
	padding-bottom: 0.25em;
	color: var(--monochrome-dark)
}
.bl_posts_footer {
	padding-top: 0.5em;
	color: var(--monochrome-dark)
}
#wrap {
 	padding: 0;
}

/*	ヘッダー
---------------------------------*/
.ly_header {
	font-family: "Avenir Next", Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif;
}
.el_headerLogo { 
	font-size: 175%;
	font-weight: normal;
	vertical-align: center;	
}
/* 小コンテナ：メニューリスト */
nav .container {
	display: flex;
}
/* ナビメニュー */
nav a {
	display: block; 
	line-height: 1.2em; /* 実質的には区切り線の高さ */
	text-align: center;
	font-size: 110%;
	color: var(--first-color);
}
nav li {
	list-style: none;	
	padding: 0 0.7em; /* メニュー同士の間隔 */
}
nav li + li { /* 2番目以降のメニューリストアイテムに区切り線 */
	border-left: 1px solid var(--first-color-light);
}

/* ---------------------------------
テキストブロック（配下の要素をじかにマークアップ）*/

.bl_text a { 
	/* 下線と文字とを空けるため、擬似的な下線を作る */
	display: inline-block; 
	line-height: 1em; /* 下余白リセット */
	text-decoration: none;
	color: hsl(219, 62%, 50%); /* 薄青、Wikipediaより */
	border-bottom: 1px solid hsl(219, 62%, 70%); /* 細く見せる */
	padding-bottom: 1px; /* 擬似的な下線 */
}
.bl_text a:visited { 
	/* 訪問済みリンク */
	color: hsl(271, 35%, 45%); /* 紫、Wikipediaより */
	border-bottom: 1px solid hsl(271, 35%, 65%); 
}

.bl_text p + p {
	text-indent: 1em; /* 二段落目以降を字下げ */
	margin-top: 0.5em; /* 段落間に余白 */
}

.bl_text blockquote {
	/* ブロック引用　*/
	/* 上下に1行の余白、左から1文字分インデント */
	margin: 1em 0 1em 1em; 
	color: var(--monochrome-dark);
	border-left: 0.2em solid var(--monochrome-light);
	padding-left: 0.8em;
}
.bl_text blockquote p {
	text-indent: 0; /* 引用ブロック中は字下げなし */
}

/* 順序なしリスト */
.bl_text ul {
	margin-left: 0;
	padding-left: 0.5em;
}
.bl_text ul li {
	list-style: square inside;
}

/* 順序つきリスト */
.bl_text ol {
	margin-left: 0;
	padding-left: 0.5em;
}
.bl_text ol li {
	list-style: decimal inside;
	padding-left: 1em;
}

/* 説明リスト */
.bl_text dt {
	float: left;
	text-align: right;
	margin-left: -0.5em; /* 4文字目は画面ギリギリに入れる */
	width: 4em; /* 最大文字数 */
}
.bl_text dd {
	margin-left: 3.5em; /* dtの左余白＋最大文字数 */
	/* "： "にぶら下げ、狭い画面で改行されたとき */
	padding-left: 1.25em;
	text-indent: -1.25em;
}
.bl_text dd:before {
	content: "： ";
}


.el_heading2 { 
/* セクションごとの見出し */
	/* 標準余白 */
	margin: 3em -0.5em 1em; /* セクション間余白、左右の余白限界からの余白、後続要素との余白 */
	/* 横棒 */
	border-left: 4px solid var(--monochrome-medium);
	padding-left: 0.45em; /* 横棒と文字の間隔 */
	/* 下線 */
	border-bottom: 1px solid hsl(0, 0%, 75%);
	padding-right: 0.75em;
	font-weight: normal;
	font-size: 110%;
}

.el_heading3 {
/* 節ごとの小見出し */
	/* 標準余白 */
	margin: 1.5em 0 0.75em; /* セクション間余白、左右の余白限界からの余白、後続要素との余白 */
	font-weight: normal;
	border-bottom: 1px solid hsl(0, 0%, 87%);;
	font-size: 105%;
}

/* テーブル（水平）*/
.bl_horizTable {
	border: 1px solid var(--monochrome-light); /* 表全体を囲む */
	max-width: 560px;
}
.bl_horizTable table {
	width: 100%;
	/* セル列同士の謎の余白リセット */
	border-collapse: collapse;
	border-spacing: 0; 
}
.bl_horizTable th { /* ■□ */
	width: 20%; /* テーブル頭の幅 */
	padding: .3em 0; /* 上下幅 */
	background: hsl(0, 0%, 94%);
	border-bottom: 1px solid var(--monochrome-light);
	font-weight: normal;
}
.bl_horizTable td { /* □■ */
	word-break: keep-all; /* いつもより早めに改行 */
	padding: .3em 0 .3em .75em; 
	border-bottom: 1px solid var(--monochrome-light);
}
.bl_horizTable tr:last-child th, 
.bl_horizTable tr:last-child td {
	border-bottom-width: 0px; /* 最終行の下線を消す */
}

.hp_textWeak {
	color: var(--monochrome-dark);
	font-size: 95%;
}

/* --フッター-- */
.ly_footer {
	background-color: hsl(0, 0%, 94%);
	margin-top: 3em;
}
.ly_footer_inner {
	padding: 1em 0;
}
.el_footerCopyright {
	font-size: 80%;
	text-align: center;
	color: var(--monochrome-dark)
}
.el_footerCopyright a {
	color: inherit;
}

/* -----------------------------------------
タブレット以下 */
@media (max-width: 559px) {
	:root {
		font-size: 16px;
	}
	
/* -- ヘッダー：中央揃えの隊列にする -- */
	.ly_header_inner {
		text-align: center;
		margin-top: 1em;
	}
	nav {
		display: inline-block;
		text-align: center;
		padding-top: 0.5em;
	}
	nav a {
		font-size: 100%;
	}
	.contents {
		padding-top: 1em; 
	}
	.ly_header {
		margin-bottom: 2em;
	}	
}

/* -----------------------------------------
タブレット以上 */
@media (min-width: 560px) {
/* ベースグループ */
	:root {
		font-size: 18px;
	}
	/* ヘッダーに本文がめり込まないように。 */
	main {
		padding-top: 6em; 
	}
	
	/* -- ヘッダー：固定帯に -- */
	/* 大箱　*/
	.ly_header {
		position: fixed; 
		background: hsl(40, 38%, 97%); /* 白く塗りつぶし */
		width: 100%;
		height: 4.5em;
	}
	/* 中コンテナ：ロゴ＋メニュー　*/
	.ly_header_inner {
		display: flex;	
		justify-content: space-between; /* 二つを両端に分ける */
		align-items: center;	/* 二つの高さ位置を揃える */
		padding-top: 0.75em; /* これにて手動で縦方向センタリング */
		max-width: var(--width-large);
	}
	/* 小コンテナ：メニューリスト、右端から離す */
	.ly_header .container {
		margin-right: 1em;
	}
	.el_headerLogo {
		margin-left: 0.5em;
	}
}

@media (min-width: 900px) {
	.ly_cont {
		width: 800px;
		margin: 0 auto;
	}		
}