/**
 * ベースグループ
 */
html {
  scroll-behavior: auto;  /* unset `smooth` */
}

body {
  font-family: "Helvetica Neue", "Verdana", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  color: var(--text-color);
  line-height: 1.65;
  font-size: 16px;
  background: var(--background-color);
  word-break: break-word;  /* prevent beginning line with 、。 */
  -webkit-text-size-adjust: 100%; /* prevent broken layout in horizontal view */
  /* fix footer at the bottom */
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

@media screen and (min-width: 560px) {
  body {
    font-size: 18px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
}

@media print {
  body {
    background: unset;
    /* prevent page break in the middle of paragraph */
    display: block;
    break-inside: avoid;
  }
}

main {
  /* fix footer at the bottom */
  flex: 1;  /* full height */
}

@media screen and (min-width: 560px) {
  main {
    padding-top: 1.5em;  /* avoid body sinking in the header */
  }
}

.ly_header,
.ly_cont {
  width: 91vw;
  margin: 0 auto;
}

@media screen and (min-width: 560px) {
  .ly_cont,
  .ly_header {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 960px) {
  .ly_cont,
  .ly_header {
    width: 77%;
    max-width: 900px;
  }
}

@media print {
  .ly_cont,
  .ly_header {
    width: 85%;
    margin: 0 auto;
  }
}

a {
  /* unset */
  text-decoration: none;
  color: inherit;
}
