/**
 * ベースグループ
 */
body {
  font-family: "Helvetica Neue", "Verdana", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: var(--text-color);
  background: var(--background-color);
  word-break: break-word;  /* prevent beginning line with 、。 */
  -webkit-text-size-adjust: 100%; /* prevent broken layout in horizontal view */
  /* fix footer at the bottom */
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

@media screen and (min-width: 560px) {
  body {
    font-size: 18px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
}

@media print {
  body {
    background: unset;
    /* prevent page break in the middle of paragraph */
    display: block;
    break-inside: avoid;
  }
}

main {
  /* fix footer at the bottom */
  flex: 1;  /* full height */
}

@media screen and (min-width: 560px) {
  main {
    padding-top: 1.5em;  /* avoid body sinking in the header */
  }
}

/**
 * リセット
 */
html {
  scroll-behavior: auto;  /* unset `smooth` */
}

:where(a) {
  text-decoration: unset;
  color: unset;
}

:where(ul[class], ol[class]) {
  margin: unset;
  padding: unset;
  list-style: none;
}
