.bl_blogCard {
  font-size: 80%;
  border: 1px solid var(--monochrome-light);
  border-radius: 4px;
  box-shadow: 0 0 2px var(--monochrome-midlight); /* around */
  padding: 0.6em 1em;
  margin: 1.25em 0.5em 1em;
  box-sizing: border-box;
}
  
@media screen and (min-width: 560px) {
  .bl_blogCard {
    margin: 1.5em 2.7em 1.25em; /* indent 2em */
    
  }
}

.bl_blogCard header {
  font-family: 'Avenir Next', 'Lucida Sans', sans-serif;
  display: inline-flex;
  color: var(--monochrome-dark);
}

.bl_blogCard_icon {
  background-image: url(../../assets/icons/favicon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-top: 0.4em;
  width: 1.4em;
  height: 1.4em;
}

.bl_blogCard_logo {
  font-size: 130%;
  color: var(--text-color);
  margin-left: 0.2em;
}

.bl_blogCard_suffix {
  color: var(--monochrome-dark);
  font-size: 85%;
  margin: 0.6em 0 0 0.3em;
}

.bl_blogCard_title {
  font-weight: bold;
  font-size: 120%;
}

.bl_blogCard_summary {
  padding: 0.3em 0;
}

.bl_blogCard footer {
  color: var(--monochrome-dark);
  display: inline-flex;
  flex-wrap: wrap;
}

.bl_blogCard_tagList {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0.6em;
}

.bl_blogCard_tagList li {
  list-style: none; /* unset */
  padding-right: 0.3em;
}
