/* stylelint-disable no-descending-specificity */
/**
 * テキスト領域（マークアップ）
 */

/* リンク */
.bl_text :where(a:not(.hp_unsetLink)) {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: hsl(219, 62%, 48%); /* Indigo 500 */
  text-decoration-color: hsl(219, 62%, 64%); /* Indigo 300 */
}

.bl_text :where(a):visited:not(.hp_unsetLink) {
  color: hsl(271, 35%, 42%); /* Purple 500 */
  text-decoration-color: hsl(271, 35%, 55%); /* Purple 350 */
}

@media (prefers-color-scheme: dark) {
  .bl_text :where(a:not(.hp_unsetLink)) {
    color: hsl(219, 62%, 69%); /* Indigo 250 */
    text-decoration-color: hsl(219, 42%, 57%); /* Indigo400s */
  }

  .bl_text :where(a):visited:not(.hp_unsetLink) {
    color: hsl(271, 35%, 68%); /* Purple 225 */
    text-decoration-color: hsl(271, 25%, 55%); /* Purple 350s */
  }
}

/* 段落 */
.bl_text :where(p) {
  text-align: justify;
}

.bl_text :where(p + p) {
  text-indent: 1em; /* 二段落目以降を字下げ */
  margin-top: 0.5em; /* 段落間余白 */
}

/* 引用ブロック */
.bl_text :where(blockquote) {
  font-family: Georgia, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', '游明朝',
    YuMincho, serif;
  box-sizing: border-box;
  margin: 1em 0 1em 0.7em;
  /* padding-left ＋ border-left ＝ 1em */
  padding: 0 0 0 0.75em;
  border-left: 0.25em solid var(--gray-weak);
}

.bl_text :where(blockquote p) {
  /* margin-left(blockquote) + margin-left(p) = 1em */
  margin: 0 0.5em 0 0.3em;
}

.bl_text :where(blockquote p + p) {
  /* 引用ブロック中は字下げ・段落間余白なし */
  text-indent: 0;
  margin-top: 0;
}

/* 強調 */
.bl_text :where(strong) {
  font-weight: unset;
  text-emphasis: dot;
  font-style: normal;
}

/* タイトル */
.bl_text :where(h1) {
  margin: 0 auto 0.4em;
  font-weight: bold;
  font-size: 117%;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (min-width: 560px) {
  .bl_text :where(h1) {
    font-size: 120%;
    margin: 0 auto 0.5em;
  }
}

/* 大見出し */
.bl_text :where(h2),
.el_heading2 {
  margin: 1.5em 0 1em;
  border-left: 4px solid var(--gray-strong);
  padding-left: 0.45em;
  border-bottom: 1px solid var(--gray-medium);
  padding-right: 0.75em;
  font-weight: normal;
  font-size: 120%;
}

.bl_text :is(h2:first-child),
.el_heading2:first-child {
  margin-top: 0; /* no margin-top at the top */
}

/* 小見出し */
.bl_text :where(h3),
.el_heading3 {
  margin: 1em 0 0.75em;
  font-weight: normal;
  font-size: 112%;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--gray-medium);
}

/* 水平線 */
.bl_text :where(hr) {
  border: none; /* unset */
  border-top: 1px solid var(--gray-medium);
  width: 50%;
  margin: 1.5em auto;
}

@media screen and (min-width: 560px) {
  .bl_text :where(hr) {
    margin: 2em auto;
  }
}

/* 順序なしリスト */
.bl_text :where(ul) {
  margin-left: unset;
  padding-left: 1.5em;
}

.bl_text :where(ul li) {
  margin-bottom: 0.25em;
}

/* 順序つきリスト */
.bl_text :where(ol) {
  margin-left: 0;
  padding-left: 2em;
}

.bl_text :where(ol li) {
  list-style: decimal;
  margin-bottom: 0.25em;
}

/**
 * テキスト領域（その他）
 */

.bl_text + .bl_text {
  margin-top: 1.5em;
}

.bl_text_header {
  padding-bottom: 0.5em;
  color: var(--text-secondary);
}

.bl_text_footer {
  padding-top: 0.75em;
  color: var(--text-secondary);
}
