/**
 * ヘルパークラス
 */

.hp_underline {
  text-decoration: underline;
  text-decoration-color: var(--text-secondary);
  text-underline-offset: 3px;
}

.hp_kerning {
  /* kerning of double dash */
  letter-spacing: -0.27em;
  margin: 0 0.17em 0 0;
}

.hp_alignJustify {
  text-align: justify;
}

.hp_unsetLink {
  /* link style is unset even if under `bl_text` module */
}

.hp_highlight {
  display: inline-block;
  background: hsl(60, 100%, 77%);
  border: 1px solid hsla(0, 0%, 0%, 0.15); /* layer translucent black line */
  color: hsl(0, 0%, 13%); /* black if under darkmode */
  border-radius: 3px;
  padding: 2px 3px;
  margin: 0 0.2em;
}

.hp_ellipsis654 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
  -webkit-line-clamp: 6;
}

@media screen and (min-width: 560px) {
  .hp_ellipsis654 {
    -webkit-line-clamp: 5;
  }
}

@media screen and (min-width: 960px) {
  .hp_ellipsis654 {
    -webkit-line-clamp: 4;
  }
}

.hp_ellipsis433 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: left;
  -webkit-line-clamp: 4;
}

@media screen and (min-width: 560px) {
  .hp_ellipsis433 {
    -webkit-line-clamp: 3;
  }
}

@media screen and (min-width: 960px) {
  .hp_ellipsis433 {
    -webkit-line-clamp: 3;
  }
}
