/**
 * フッター
 */

.ly_footer {
  background-color: var(--monochrome-bright);
  margin-top: 1.75em;
}

@media print {
  .ly_footer {
    background-color: unset;
    margin-top: -0.5em;
  }
}

.ly_footer_inner {
  padding: 1.25em 0; /* footer height */
}
