/**
 * ヘッダー
 */
/* 大コンテナ */
.ly_header {
  margin: 1.1em auto 1.75em;
}

@media screen and (min-width: 560px) {
  .ly_header {
    height: 4.5em;
    margin: 0.5em auto 0;
  }
}

/* 中コンテナ：ロゴ＋メニュー */
.ly_header_inner {
  text-align: center;
}

@media screen and (min-width: 560px) {
  .ly_header_inner {
    display: flex;
    justify-content: space-between;  /* 二つを両端に分ける */
    align-items: center;  /* 二つの高さ位置を揃える */
    padding-top: 0.75em;
  }
}

/**
 * ナビメニュー
 */
.bl_nav {
  font-family: "Avenir Next", "Segoe UI", sans-serif;
  padding-top: 0.5em;
}

@media screen and (max-width: 559px) {
  .bl_nav {
    /* モバイルではメニューを中央揃え */
    display: inline-block;
    text-align: center;
  }
}

@media print {
  .bl_nav {
    display: none;
  }
}

.bl_nav_inner {
  display: flex;
}

.bl_nav a {
  display: block;
  line-height: 1.25em;  /* 区切り線の高さ */
  text-align: center;
  color: var(--main-color);
  font-size: 110%;
}

@media screen and (min-width: 560px) {
  .bl_nav a {
    font-size: 112%;
  }
}

.bl_nav li {
  list-style: none;
  padding: 0 0.6em;
}

.bl_nav li + li {
  border-left: 1px solid var(--main-color-light);
}
