/**
 * ヘッダー
 */

.ly_header {
  font-family: "Avenir Next", "Segoe UI", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", "メイリオ", Meiryo, sans-serif;
}

/* ロゴ */
.el_logo_title {
  font-family: "Avenir Next", "Lucida Sans", sans-serif;
  font-weight: normal;
  vertical-align: center;
}

@media screen and (max-width: 559px) {
  .el_logo_title {
    margin-left: 3px;
    font-size: 30px;
  }
}

@media screen and (min-width: 560px) {
  .el_logo_title {
    margin-left: 3px;
    font-size: 34px;
  }
}

.el_logo_suffix {
  font-size: 16px;
  font-weight: normal;
  color: var(--monochrome-dark);
  vertical-align: baseline;  /* 英単語帳の位置：baseline */
}

/* ナビメニュー */
.bl_nav_inner {
  display: flex;
}

.bl_nav a {
  display: block;
  line-height: 1.25em;  /* 実質的には区切り線の高さ */
  text-align: center;
  color: var(--main-color);
}

.bl_nav li {
  list-style: none;
  padding: 0 0.6em;  /* メニュー同士の間隔 */
}

.bl_nav li + li {
  border-left: 1px solid var(--main-color-light);
}

/* 更新通知バッジ */
.el_badge {
  position: relative;
}

.el_badge[data-badge]::after {
  content: attr(data-badge);
  position: absolute;  /* 基準に対して相対配置 */
  top: -0.6em;
  right: -1.25em;
  font-size: 0.7em;
  background: var(--accent-color);
  color: white;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.41em;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 2px var(--monochrome-midlight);
  z-index: 10;
}

/**
 * モバイル用（ヘッダー）
 * ロゴとメニューを中央に縦並びにする
 */
@media screen and (max-width: 559px) {
  .ly_header {
    margin-bottom: 1.75em;
    margin-top: 1.1em;
  }

  .ly_header_inner {
    /* スマホでは中央揃えに */
    text-align: center;
  }
  
  .bl_nav {
    display: inline-block;
    text-align: center;
    padding-top: 0.5em;
  }
  
  .bl_nav a {
    font-size: 108%;
  }
}

/**
 * タブレット・PC用（ヘッダー）
 * ロゴとメニューを横並びにする
 */
@media screen and (min-width: 560px) {
  /* 大箱 */
  .ly_header {
    background: var(--background-color);  /* 背景色で塗りつぶし */
    height: 4.5em;
    margin: 0.5em auto 0;
  }

  /* 中コンテナ：ロゴ＋メニュー */
  .ly_header_inner {
    text-align: center;
    display: flex;
    justify-content: space-between;  /* 二つを両端に分ける */
    align-items: center;  /* 二つの高さ位置を揃える */
    padding-top: 0.75em;  /* これにて手動で縦方向センタリング */
  }

  /* 小コンテナ：メニューリスト */
  .bl_nav a {
    font-size: 110%;
  }
}

@media print {
  .bl_nav {
    display: none;
  }

  .el_logo {
    margin-bottom: 0.5em;
  }

  .el_logo_title {
    font-size: 26px;
  }
}
