/* bl_text テキスト領域 */

.bl_text + .bl_text {
  /* セクション間余白 */
  margin-top: 1.5em;
}

.bl_text_header {
  padding-bottom: 0.5em;
  color: var(--monochrome-dark);
}

.bl_text_title {
  margin: -0.2em auto 0.4em;
  font-weight: bold;
  font-size: 117%;
  text-align: center;
  letter-spacing: 1px;
  /* text-decoration: underline; */
}

@media screen and (min-width: 570px) {
  .bl_text_title {
    font-size: 120%;
    margin: 0 auto 0.5em;
  }
}

.bl_text_footer {
  padding-top: 0.5em;
  color: var(--monochrome-dark);
}

@media screen and (min-width: 570px) {
  .bl_text p + p {
    /* margin-top: 0.75em; */  /* 段落間余白を増量 */
  }
}
